<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.information.mapper.VersionControlsMapper" >
  <resultMap id="BaseResultMap" type="com.pq.information.entity.VersionControls" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="client" property="client" jdbcType="INTEGER" />
    <result column="force_update" property="forceUpdate" jdbcType="BIT" />
    <result column="version_title" property="versionTitle" jdbcType="VARCHAR" />
    <result column="version_content" property="versionContent" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="version_code" property="versionCode" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="DOUBLE" />
    <result column="release_time" property="releaseTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_version_controls
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.information.entity.VersionControls" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_version_controls (client, force_update, version_title, 
      version_content, version, version_code, 
      url, size, release_time, 
      updated_time, created_time)
    values (#{client,jdbcType=INTEGER}, #{forceUpdate,jdbcType=BIT}, #{versionTitle,jdbcType=VARCHAR}, 
      #{versionContent,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{versionCode,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{size,jdbcType=DOUBLE}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.information.entity.VersionControls" >
    update pq_version_controls
    set client = #{client,jdbcType=INTEGER},
      force_update = #{forceUpdate,jdbcType=BIT},
      version_title = #{versionTitle,jdbcType=VARCHAR},
      version_content = #{versionContent,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      version_code = #{versionCode,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      size = #{size,jdbcType=DOUBLE},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, client, force_update, version_title, version_content, version, version_code, 
    url, size, release_time, updated_time, created_time
    from pq_version_controls
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, client, force_update, version_title, version_content, version, version_code, 
    url, size, release_time, updated_time, created_time
    from pq_version_controls
  </select>

  <select id="findLatest" resultMap="BaseResultMap" >
    select *
    from pq_version_controls
    WHERE client = #{client}
    AND release_time &lt;= now()
    order by release_time desc
    limit 0,1
  </select>
  <select id="findEverForceUpdatedByVersionCode" resultType="java.lang.Integer" >
    select count(id)
    from pq_version_controls
    where client = #{client} and version &gt; #{versionNo} and force_update = 1
  </select>
</mapper>